body {
    background-color:orchid;
}

.logo {
height:100px;
width: 100px;
}


nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 4em;
    height: 4em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
}

nav ul li {
    list-style: none;
    text-transform: uppercase;
    font-family: 'Lucida Sans';
    color: #787f7f;
}

h1 {
    margin-top: 3em;
}




#showAllProducts {
    display: flex;
    flex-direction: row;
    gap: 2em;
    flex-wrap: wrap;
    padding: 1em;
}

#showAllProducts img {
    width: 18em;
    height: auto;

}

/* #cartList {
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#cartList img {
    width: 8em;
    height: auto;
}

.showCart {
    display: flex;
    flex-direction: row;
} */
.div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.div li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.div h4{
    text-align: center;
    font-size: 20px;
}

.alerta{
    color: red;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#form form {
    gap: 2em;
    width: 100%;
}

#form form input {
    width: 100%;
    margin-top: 1em;
    text-align: center;
    padding: 0.5em;
}

#form form button {
    text-align: center;
    margin-top: 2em;
    margin-left: 45%;
}

#visualCart{
    height:300px;
    width:100vw;
    background-color: black;
    position:fixed;
    bottom:-300px;
    color:white;
}

#buttonDeleteCart{
    
    background-color:mediumpurple;
    width: 60px;
}

.txtCarrito{
    text-align: center;
    color: black;
    margin: 30px;
}

.tableContainer{
    display: flex;
    justify-content: center;
}

table{
    border-radius: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

table tr th:first-child{
    width: 80px;
}

table tr th:nth-child(2){
    width: 300px;
}

thead tr th{
    background: #392569;
    color: #E9EEF2; 
}

thead tr th:first-child{
    border-radius: 10px 0px 0px 0px;
}

thead tr th:last-child{
    border-radius: 0px 10px 0px 0px;
}


tbody tr:nth-child(even){
    background: #a179c7;
}

tbody tr:nth-child(odd){
    background: #7e1194;
}

tfoot tr th{
    background: #5b3289;
    color: #efe9f2;
}

tfoot tr th:first-child{
    border-radius: 0px 0px 0px 10px;
}


tfoot tr th:last-child{
    border-radius: 0px 0px 10px 0px;
}

th{
    background: transparent;
}

.imgProdCart{
    width: 80px;
    margin: 3px;
    border-radius: 5px;
}

.detallesTabla{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trash{
    width: 30px;
}

.nombreProd{
    padding-left: 10px;
}

.txtTotal{
    text-align: right;
    padding: 10px;
}

.txtTabla{
    padding: 10px;
    font-size: 20px;
}

.btnTerminar{
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #dd2313;
    font-family: Lato-Black;
    transition: 0.5s ease;
    border: none;
}

.btnTerminar:hover{
    color: #E9EEF2;
    background: #dd2313;
}

